:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "PT Serif", sans-serif;
  --backround-color: #012d63;
  --main-backround-color: #021635;
  --main-nav-color: #c7c7c7;
  --main-text-color: #ffffff;
  --my-button-color: #8e32c6;
}

body {
  font-family: var(--font-family);
  color: var(--main-text-color);
  background-color: var(--main-backround-color);
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1130px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.header {
  padding: 15px 0;
  background-color: var(--backround-color);
}

.header_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
  font-size: 24px;
  color: var(--main-nav-color);
  gap: 29px;
  margin-right: 79px;
}

.header_logo {
  margin-right: 152px;
}

.header_language {
  display: flex;
  gap: 8px;
  font-weight: 300;
  font-size: 24px;
  color: var(--main-nav-color);
}

.current_link {
  font-weight: 400;
  color: var(--main-text-color);
}

.hero {
  padding: 100px 0 183px;
  width: 1440px;
  height: 858px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 144px;
  color: var(--main-text-color);
}

.hero_suptitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 72px;
  margin-bottom: 12px;
}

.hero_text{
    width: 504px;
font-weight: 400;
font-size: 18px;
margin-bottom: 41px;
}

.hero_button{
background-color: var(--my-button-color);
font-weight: 400;
font-size: 24px;
color: var(--main-text-color);
padding: 20px 61px;
border-radius: 10px;
}
